<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <link rel="stylesheet" type="text/css" href="style.css">

    <title>La Rose de Ronsard</title>


  </head>
  <body>
   <div>

<ul class="nav">
  <li><%= link_to 'La Rose de Ronsard', pages_home_path %></li>
  <li><%= link_to 'Bookboxes', pages_bookbox_path %></li>
  <li><%= link_to 'Contact', pages_contact_path %></li>
  <li><%= link_to 'La nouvelle Rose', contributions_path %></li>
</ul></div>
 <div id="article">
 <font color="#7a7a7a">
 <i>Qui que vous soyez qui voulez cultiver, vivifier, édifier, attendrir, apaiser :<br>
  mettez des livres partout.</i> Victor Hugo
 <br> <br>


</font>
<%= image_tag 'a.jpg'%>
<%= image_tag 'b.jpg'%>
<%= image_tag 'c.jpg'%>
<%= image_tag 'd.jpg'%>
<br>
<%= image_tag 'e.jpg'%>
<%= image_tag 'f.jpg'%>
<%= image_tag 'g.jpg'%>
<%= image_tag 'h.jpg'%>
<br><br><br>
            </div>


<br>

 <div class="footer">
 Valentine Smets
 </div>
 </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
